
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

$header-color: #d6d6d6;
$footer-color: #8f8f8f;
$page-color: #eeeeee;
$text-color: black;

.page{
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    background-color: $page-color;
}

.color-name{
    position: fixed;
    top: 70px;
    height: 100%;
    width: 100%;
    font-family: parisienne;
    display: flex;
    z-index: 500;
    justify-content: center;
    align-items: center;
    font-size: 175px;
}

.main-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: $header-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    padding: 10px;
    border: 1px solid; 
}

.toggle-image{
    height: 40px;
    width: auto;
}

.link-item{
    padding-left: 50px;
    text-decoration: unset;
    color: $text-color;
    text-transform: uppercase;
}

.color-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    left: -242px;
    width: 240px;
    top: 71px;
    background-color: $footer-color;
    z-index: 1000;
    border: 1px solid; 
}

.color-nav__item{
    display: flex;
    width: 190px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: flex-start;
    border-bottom: solid 1px;

    &:last-child{
        border-bottom: unset;
    }

    &:hover{
        cursor: pointer;
    }
}



.opacity{
    opacity: 0.99;
    text-decoration: underline;
}

.background--amber--click, .amber{
    background-color: rgb(247, 136, 136);
    }

.background--coral--click, .coral{
    background-color: rgb(255, 169, 129);
}

.background--azure--click, .azure{
    background-color: rgb(194, 226, 235);
}

.background--lilac--click, .lilac{
    background-color: rgb(188, 190, 233);
}

.background--peach--click, .peach{
    background-color: rgb(250, 221, 177);
}

.color-nav--slide-right{
    transform: translateX(242px);
    transition: transform 500ms;
}

.color-nav--slide-left{
    transform: translateX(-242px);
    transition: transform 750ms;
}
 










